#wd-search-assignment {

    width: 200px; /* Sets the input width to 200 pixels */
    height: 48px;
    border-radius: 10px;
  }

  .wd-rounded-corners-all-around {
    border-radius: 50px;
   }
   
  